<!--base.html-->
<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
	<!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class ="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/">Home Page</a></li>
					<li role="presentation"><a href="/about">About </a></li>
					<li role="presentation"><a href="/login">Login</a></li>
				</ul>
			</nav>	
	    </div>
	    {% block body %}
	    {% endblock %}
	    <center>
	    <footer class="footer">
	    	<p>Powered By Flask</p>
	    </footer>
	</center>
	</div>
</body>
</html>